<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseOwl</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <script src="/libraries/code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/libraries/fontawesome-free-6.6.0-web/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/client/index.css">
    <script src="/js/utils.js"></script>
</head>
<body>
    <%- include('partials/header') %>
</body>
</html>