<link rel="stylesheet" href="/css/client/exam.css">
<div class="container exam__container col gap-24">
    <div>
        <div>
            <textarea id="code-editor"></textarea>
        </div>
    </div>
</div>
<script src="/js/client/exam.js"></script>