<link rel="stylesheet" href="/css/client/exam.css">
<div class="container exam__container limit-view col gap-24">
    <div class="full-width col gap-16">
        <div class="full-width">
            <span id="title"></span>
        </div>
        <div class="full-width">
            <span id="description"></span>
        </div>
    </div>
    <div class="full-width row gap-24">
        <div class="code-editor__container full-width">
            <textarea id="code-editor" class="full-width"></textarea>
        </div>
    </div>
</div>
<script src="/js/client/exam.js"></script>