<link rel="stylesheet" href="/css/client/header.css">
<header>
    <div class="limit-view row flex-box">
        <div class="logo center">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="search-container">
            
        </div>
    </div>
</header>