<link rel="stylesheet" href="/css/client/header.css">
<header class="center">
    <div class="limit-view row container flex-box">
        <a href="/" class="logo_container center">
            <div class="logo full-height">
                <img src="/images/logo.png" alt="Logo"/>
            </div>
        </a>
        <div class="search-container row item-center">
            <form action="" id="search_form">
                <input type="text" id="search_text">
                <button type="submit" class="center"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="user__container center">
            <!-- <a href="" class="spa-action">Login</a> -->
        </div>
    </div>
</header>