<link rel="stylesheet" href="/css/client/home.css">
<div class="limit-view container search_response__container col gap-24">
    <div class="exam_item col gap-8">
        <div class="title">
            <h4></h4>
        </div>
    </div>
</div>
<div class="pagination__container limit-view container center">
    <div class="pagination__actions row gap-8"></div>
</div>
<script src="/js/client/home.js"></script>