<div class="full-width center" style="min-height: 300px;"></div>
    <div class="col item-center" style="width: 40%;">
        <div class="full-width center">
            <img src="/images/page-not-found.png" alt="">
        </div>
        <span style="font-size: 1.25rem; color: #f00; font-weight: 500;">Page Not Found</span>
    </div>
</div>