:root {
    --color-primary-white: #fff;
    --color-primary-black: #010409;
    --color-primary-blue: #4493f8;
    --color-secondary-white: #f2f2f2;
    --color-secondary-black: #0d1117;
    --color-grey-100: #f5f4f7;
    --color-grey-200: #f6f3f7;
    --color-grey-300: #e9e6e9;
    --color-grey-400: #dbd8db;
    --color-grey-500: #bfbfbf;
    --color-grey-600: #908c95;
    --color-text: var(--color-primary-white);
    --color-extra-text: #bdc1c6;
    --color-bg: var(--color-secondary-black);
    --color-header: var(--color-primary-black);
    --color-btn-icon: #fff;
    --color-shadow: 0 2px 14px rgba(255, 255, 255, .12);
}

[data-theme="light"] {
    --color-primary-blue: #024fb4;
    --color-grey-100: #25282c;
    --color-grey-200: #1d2025;
    --color-grey-300: #34373d;
    --color-grey-400: #5a5d63;
    --color-grey-500: #80848a;
    --color-grey-600: #a5a9af;
    --color-text: var(--color-primary-black);
    --color-extra-text: #383838;
    --color-bg: var(--color-secondary-white);
    --color-header: var(--color-primary-white);
    --color-btn-icon: #ffde59;
    --color-shadow: 0 2px 14px rgba(0, 0, 0, .12);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-bg);
    font-family: 'Inter', sans-serif;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.full-width {
    display: flex;
    width: 100%;
}

.full-height {
    display: flex;
    height: 100%;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.container {
    padding-left: .75rem;
    padding-right: .75rem;    
}

.section {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.limit-view {
    width: 1200px !important;
    max-width: 1200px !important;
}

.hr {
    border-left: 1px solid #b7b7b7;
}

.gap-1 {
    gap: 1px;
}

.gap-2 {
    gap: 2px;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

a, button, select {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary-white);
}

.highlight-text {
    color: var(--color-text);
}