.search_response__container {
    max-width: 960px;
    /* width: 960px; */
    width: 100%;
    color: var(--color-primary-white);
    padding: 24px 12px;
    min-height: 400px;
    transform: translateX(100px);
}

.search_response__container .title {
    font-size: 20px;
    line-height: 30px;
    color: var(--color-primary-blue);
}

.search_response__container .title:hover {
    text-decoration: underline;
}

.search_response__container .index-name {
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12);
    background-color: #fff;
    color: #0d7e0d;
    font-size: 14px;
    line-height: 1;
    padding: 5px 20px;
    display: flex;
    width: fit-content;
}

.search_response__container .description {
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-extra-text);
}

.pagination__container {
    padding: 36px 0;
}

.pagination__container .pagination__actions {
    max-width: 960px;
    padding: 0 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pagination__container .pagination_item {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: var(--color-grey-500);
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid var(--color-grey-500);
}

.pagination__container .pagination_item.active, .pagination__container .pagination_item:hover {
    background-color: var(--color-grey-500);
    color: var(--color-text);
}

@media only screen and (max-width: 768px) {
    .search_response__container .index-name_container {
        display: none !important;
    }
}